html, body {
    background-color: #f2f5f6;
    /*height: 100%;*/
}
a {
    color: black;
    text-decoration: none;
}

aside {
    float: left;
    width: 190px;
    margin: 20px;
    padding: 10px;
}

.tree-element {
    font-size: 18px;
    height: 30px;
    border: 1px solid #2e6da4;
    position: relative;
}

.tree-element a {
    padding: 10px 0 0 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: inherit;
    width: 180px;
    float: none;
}

.child-element a{
    font-size: 14px;
    padding: 5px;
}

div h2 {
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 10px;
}

li.tree-element {
    padding-bottom: 10px;
}

.parent-categories {
    margin-left: 220px;
}

p{
    text-align: justify;
}

.main {
    background: #FFFFFF;
    flex: 1 0 auto;
    padding: 20px;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}

.top {
    text-align: center;
}

.product {
    margin-left: 200px;
    height: 60%; 
    padding: 10px;
    position: relative;
}

div#image {
    float: left;
    margin: 20px;
}

.add-to-cart {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
}

.add-to-cart label {
    font-size: 20px;
    margin-left: 40px;
}

.add-to-cart input {
    margin-left: 40px;
    width: 45px;
    height: 25px;
    padding: 2px 0 0 3px;
    font-size: 16px;
}

.add-to-cart button {
    margin-left: 40px;
    height: 25px;
    font-size: 16px;
}

.full-description {
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
}

.price {
    font-size: 26px;
    font-weight: bold;
    margin-left: 270px;
    margin-bottom: 40px;
}

.stock {
    font-size: 16px;
    font-weight: bold;
    margin-left: 270px;
    margin-top: 40px;
}