<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<fmt:setLocale value="${sessionScope.language}"/>-->
<!--<fmt:setBundle basename="translations"/>-->
<header>

    <div class="title">
        <a id="title" th:href="@{/}">
            <p class="store-title">Sport Pit</p>
        </a>
    </div>

</header>

<nav>
    <ul>
        <li><a class="navigation" th:href="@{/category-list}" th:text="${header.catalog}"></a></li>
        <li><a class="navigation" th:href="@{/articles}" th:text="${header.articles}"></a></li>
        <li><a class="navigation" th:href="@{/delivery-info}" th:text="${header.delivery}"></a></li>
        <li><a class="navigation" th:href="@{/contact-us}" th:text="${header.contact}"></a></li>
        <li class="my-account"><a class="navigation" th:href="@{/cart}" th:text="${header.cart}"></a></li>
        <li class="my-account"><a class="navigation" th:href="@{/my-account}" th:text="${header.account}"></a></li>
    </ul>
</nav>
</html>