<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
</head>
<body>
<div>
    <table>
        <th>Id</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Категория</th>
        <th>Брэнд</th>
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getTitle()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getCategory().getName()}"></td>
            <td th:text="${product.getBrand().getName()}"></td>
        </tr>
    </table>
</div>
</body>
</html>