header {
    display: block;
    background: #c4c9d1;
    height: 100px;
}

nav {
    background: #e8e8e8;
    height: 51px;
}

nav ul {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #ccc;
    font-size: 18px;
    position: relative;
}

li a {
    display: block;
    padding: 17px 35px;
}

a {
    text-decoration: none;
    color: black;
}

a.navigation:hover {
    background-color: #cbd8ed;
}

a#title {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
}



li.my-account {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-left: 1px solid #ccc;
    border-right: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

p.store-title {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}