<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:include="header">Header</div>
    <div class="main">
        <div th:include="category-tree">Категории</div>

        <div class="cart-container">
            <div class="top">
                <h2 th:text="'Ваш заказ'">Ваш заказ</h2>
            </div>
            <table class="cart">
                <tr>
                    <th id="head-name" th:text="'Наименование продукта'">Наименование продукта</th>
                    <th th:text="'Цена'">Цена</th>
                    <th th:text="'Количество'">Количество</th>
                </tr>

                    <tr th:each="product : ${orderedProducts}">
                        <td id="name">${product.key.name}</td><td>${product.key.price} руб.</td><td>${product.value}</td><td>
                            <form action="${pageContext.request.contextPath}/remove-from-cart" method="post">
                                <input type="hidden" name="productToRemoveId" value="${product.key.id}">
                                <input type="hidden" name="productToRemoveQty" value="${product.value}">
                                <button type="submit">X</button>
                            </form>
                        </td>
                    </tr>

            </table>
            <div class="subtotal">
                Сумма ${requestScope.subtotalPrice} руб.
            </div>
            <h3 class="delivery-header">Выберите способ доставки</h3>
            <form action="${pageContext.request.contextPath}/cart" method="post">
                <table class="delivery">
                    <c:forEach var="delivery" items="${requestScope.deliveries}">
                        <tr><td><input id="${delivery.id}" type="radio" name="delivery" value="${delivery.id}" ${sessionScope.order.delivery.id eq delivery.id ? "checked" : ""} onchange="submit()"><label for="${delivery.id}">${delivery.name}</label></td>
                            <td>${delivery.cost}</td>
                            <td>руб.</td></tr>
                    </c:forEach>
            </form>
            </table>
            <div class="subtotal">
                Итого ${sessionScope.order.totalPrice} руб.
            </div>
            <form action="${pageContext.request.contextPath}/order-placed" method="post">
                <input type="hidden" name="isPlaced" value="true">
                <button class="place-order" type="submit">Разместить заказ</button>
            </form>
        </div>

    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>