<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/main.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:include="header">Header</div>
    <div class="main">
        <div class="cart-container">
            <div class="top">
                <h2 th:text="'Ваш заказ'">Ваш заказ</h2>
            </div>
            <table class="cart">
                <tr>
                    <th id="head-name" th:text="'Наименование продукта'">Наименование продукта</th>
                    <th th:text="'Цена'">Цена</th>
                    <th th:text="'Количество'">Количество</th>
                </tr>

                    <tr th:each="orderContent : ${order.getOrderContent()}">
                        <td id="name" th:text="${orderContent.product.getTitle()}">Product title</td>
                        <td th:text="${orderContent.product.getPrice() + ' руб.'}">Price руб.</td>
                        <td th:text="${orderContent.productQty}">Product value</td>
                        <td>
                            <form th:action="@{/remove-order-content}" method="post">
                                <input type="hidden" name="productToRemoveId" th:value="${orderContent.product.getId()}">
                                <input type="hidden" name="productToRemoveQty" th:value="${orderContent.productQty}">
                                <button type="submit">X</button>
                            </form>
                        </td>
                    </tr>

            </table>
            <div class="subtotal" th:text="'Сумма ' + ${subtotalPrice} + ' руб.'">
                Сумма Subtotal Price руб.
            </div>
            <h3 class="delivery-header">Выберите способ доставки</h3>
            <form th:action="@{/cart}" method="post">
                <table class="delivery">
                    <tr th:each="delivery : ${allDeliveries}">
                        <td>
                            <input th:id="${delivery.getId()}" type="radio" name="deliveryId"
                                   th:value="${delivery.getId()}" onchange="submit()"
                                   th:checked="${delivery.getId()} == ${order.delivery.getId()}">
                            <label th:for="${delivery.getId()}" th:text="${delivery.getName()}"></label>
                        </td>
                        <td th:text="${delivery.cost}"></td>
                        <td th:text="' руб.'">руб.</td>
                    </tr>
                </table>
            </form>
            <div class="subtotal" th:text="'Итого ' + ${order.getTotalPrice()} + ' руб.'"></div>
            <form th:action="@{/order-placed}" method="post">
                <button class="place-order" type="submit" th:text="'Разместить заказ'">Разместить заказ</button>
            </form>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>

<!--th:onchange="'javascript:setDelivery(\'' + ${delivery.getId()} + '\');'"-->