<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <h1 class="main-header">Информация о доставке</h1>
        <p class="delivery"><span style="font-weight: bold; font-size: 18px">Самовывоз</span>
            - вы можете забрать заказ в одном из наших магазинов в городе Минске.</p>
        <p class="delivery"><span style="font-weight: bold; font-size: 18px">Стандартная доставка</span>
            - осуществляется курьером по Минску. Если заказ размещен до 12:00, то доставка будет произведена на следующий день.</p>
        <p class="delivery" style="padding-left: 220px"> Если заказ размещен после 12:00, то через день. Более точное время оговаривается с оператором.</p>
        <p class="delivery"><span style="font-weight: bold; font-size: 18px">Экспресс доставка</span>
            - доставка по Минску осуществляется в день заказа c 10:00 до 23:00.</p>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>