<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <div id="login" class="login-form">
            <h2 th:text="#{login.form.title}">Вход в аккаунт</h2>
            <form th:action="@{/login}" method="post">
                <p th:if="${param.error != null}" id="error-login" th:text="#{login.error.invalid.credentials}">Invalid credentials</p>
                <p><input type="text" id="email" name="email" placeholder="email" required></p>
                <p><input type="password" id="password" name="password" th:placeholder="#{login.password}" required></p>
                <button class="login-button" type="submit" th:text="#{login.button}">Войти</button>
                <p class="registration-link"><a th:href="@{/registration}" th:text="#{login.registration.link}">Зарегистрироваться</a></p>
            </form>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>
