<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <div class="order-info-container">
            <table class="order-info">
                <tr>
                    <td class="oi_title" th:text="'Номер заказа'">Номер заказа</td>
                    <td class="oi_value" th:text="${orderInfo.getId()}"></td>
                </tr>
                <tr>
                    <td class="oi_title" th:text="'Статус'">Статус</td>
                    <td class="oi_value" th:text="${orderInfo.getStatus().getAsString()}"></td>
                </tr>
                <tr>
                    <td class="oi_title" th:text="'Сумма заказа'">Сумма заказа</td>
                    <td class="oi_value" th:text="${orderInfo.getTotalPrice()}"></td>
                </tr>
                <tr>
                    <td class="oi_title" th:text="'Способ доставки'">Способ доставки</td>
                    <td class="oi_value" th:text="${orderInfo.getDelivery().getName()}"></td>
                </tr>
                <tr>
                    <td class="oi_title" th:text="'Дата размещения'">Дата размещения</td>
                    <td class="oi_value" th:text="${#temporals.format(orderInfo.getOpenDate(), 'dd.MM.yyyy HH:mm')}"></td>
                </tr>
                <tr>
                    <td class="oi_title" th:text="'Дата закрытия'">Дата закрытия</td>
                    <td class="oi_value" th:if="${orderInfo.getCloseDate() != null}" th:text="${#temporals.format(orderInfo.getCloseDate(), 'dd.MM.yyyy HH:mm')}"></td>
                </tr>
            </table>
        </div>
        <div class="order-info-products-container">
            <table class="order-info-products">
                <tr>
                    <th id="head-name">Наименование продукта</th>
                    <th class="price">Цена</th>
                    <th>Количество</th>
                </tr>
                <tr th:each="orderContent : ${orderContentList}">
                    <td id="name" th:text="${orderContent.product.getTitle()}"></td>
                    <td class="price" th:text="${orderContent.product.getPrice()} + ' руб.'"></td>
                    <td th:text="${orderContent.productQty}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>