<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Orders List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <div sec:authorize="hasAuthority('ADMIN')" th:insert="admin-side-bar">Admin side bar</div>
        <div sec:authorize="hasAuthority('MARKETER')" th:insert="marketer-side-bar">Marketer side bar</div>
        <div class="orders-list-container">
            <table id="orders-list">
                <th>ID</th>
                <th>Статус</th>
                <th>Доставка</th>
                <th>Сумма</th>
                <th>Дата размещения</th>
                <th>Дата закрытия</th>
                <th>Пользователь</th>
                <tr th:each="orderItem : ${allOrders}">
                    <td th:text="${orderItem.getId()}">Id</td>
                    <td th:text="${orderItem.getStatus().getAsString()}">Status</td>
                    <td id="delivery" th:text="${orderItem.getDelivery().getName()}">Delivery</td>
                    <td th:text="${orderItem.getTotalPrice()}">Total Price</td>
                    <td th:text="${#temporals.format(orderItem.getOpenDate(), 'dd.MM.yyyy')}">Open Date</td>
                    <td th:if="${orderItem.getCloseDate()} != null" th:text="${#temporals.format(orderItem.getCloseDate(), 'dd.MM.yyyy')}">Close Date</td>
                    <td th:if="${orderItem.getCloseDate()} == null" th:text="'        '">Close Date</td>
                    <td th:text="${orderItem.user.getEmail()}">User Email</td>
                </tr>
            </table>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>