<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/category.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
    <div class="wrapper">
        <div th:include="header">Header</div>
        <div class="main">
            <div class="search-bar">
                <h2 id="filter-title" th:text="'Поиск продуктов'">Product search</h2>
                <form th:action="@{/product-search}" method="post" th:object="${productSearchFilter}">
                    <input class="title-search" type="text" id="searchTitle" th:field="*{searchTitle}" placeholder="введите название продукта">
                    <p><label id="categories-selector" for="searchCategory">Категория</label></p>
                    <select class="categories-selector" name="searchCategory" id="searchCategory" th:field="*{searchCategoryId}">
                        <option th:value="${null}">Все категории</option>
                        <option th:each="selectedCategory : ${allCategories}"
                                th:value="${selectedCategory.getId()}"
                                th:text="${selectedCategory.getName()}">Протеин
                        </option>
                    </select>
                    <p><label id="brands-selector" for="searchBrand">Брэнд</label></p>
                    <div class="brands-checkbox" th:each="selectedBrand : ${allBrands}">
                        <input type="checkbox" id="searchBrand"
                               th:field="*{searchBrandsId}" th:value="${selectedBrand.getId()}" th:text="${selectedBrand.getName()}">
                    </div>
                    <p>
                        <label for="showProductsOnPage">Количество на странице </label>
                        <select name="showProductsOnPage" id="showProductsOnPage">
                            <option th:each="showProductsOnPage : ${productsOnPage}" th:value="${showProductsOnPage}"
                                    th:text="${showProductsOnPage}"></option>
                        </select>
                    </p>
                    <p>Страницы:</p>
                    <!--<input style="width: 35px" type="number" name="pageNumber" id="pageNumber" th:value="${1}">-->
                    <input type="button" name="pageNumber" th:value="'1'" onclick="submit()">
                    <input type="button" name="pageNumber"
                           th:if="${totalPages} != null"
                           th:each="page : ${#numbers.sequence(2, ${totalPages})}"
                           th:value="${page}" onclick="submit()">
                    <button class="sb-button" type="submit">Поиск</button>
                </form>
            </div>

            <div class="product-search-result-container">
                <div class="product-item" th:each="product : ${productsByFilter}">
                    <a th:href="@{/product(id=${product.getId()})}">
                        <img class="product-image" src="/resources/images/default.png"
                             th:src="${product.getImageURL()}" height="100" width="100">
                        <p class="product-name" th:text="${product.getTitle()}">Название</p>
                        <div class="search-result-short-description">
                            <p th:if="${product.getDescription().length()>150}" th:text="${product.getDescription()}">
                                ${product.description}
                            </p>
                            <p th:if="${product.getDescription().length()<150}" th:text="${product.getDescription()}">
                                ${product.description}
                            </p>
                        </div>
                        <p class="search-result-product-price" th:text="${product.getPrice()}+' руб.'">
                            цена руб.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div th:include="footer">Footer</div>
    </div>
</body>
</html>