<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <div th:insert="marketer-side-bar">Marketer side bar</div>
        <div class="products-list-container">
            <table id="products-list">
                <th>ID</th>
                <th>Название</th>
                <th>Продукт со скидкой</th>
                <th>Активна</th>
                <th>Удалить</th>
                <tr th:each="promotion : ${allPromotions}">
                    <td th:text="${promotion.getId()}">Id</td>
                    <td id="pl-product-name" th:text="${promotion.getName()}">Name</td>
                    <td th:text="${promotion.getPromotedProducts().get(0)}">Products</td>
                    <td th:text="${promotion.isActive()}">Active</td>
                    <td>
                        <form th:action="@{/delete-promotion}" method="post">
                            <input type="hidden" th:value="${promotion.getId()}">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>