<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="header">Header</div>
    <div class="main">
        <div class="password-change-container">
            <h2 id="password-update">Смена пароля</h2>
            <form th:action="@{/update-password}" method="post">
                <p style="color: red; font-size: 16px" th:if="${param.error != null}" th:text="'Пароли не совпадают'"></p>
                <input type="password" id="newPassword" name="newPassword" placeholder="новый пароль" required>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="подтвердите новый пароль" required>
                <button class="profile-button" type="submit">Изменить пароль</button>
            </form>
        </div>
    </div>
    <div th:include="footer">Footer</div>
</div>
</body>
</html>